h2{
    font-family: sans-serif;
    margin: auto;
    font-size: 20pt;
}

h4{
    font-family: sans-serif;
    margin: auto;
    font-size: 16pt;
}

h5{
    font-family: sans-serif;
    margin: auto;
    margin-top: 10pt;
    font-size: 14pt;
}
.linguagens{
    color: black;
    text-align: center;
    font-size: 22pt;
    font-family: sans-serif;
  }

body {
    margin: 40px;
  }
  .img_conteudo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
  }
  .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: [col] auto [col] auto [col] auto [col] auto;
        grid-template-rows: [row] auto [row] auto [row] ;
        background-color: #fff;
        color: rgb(74, 74, 74);
      }
  
      .box {
        background-color: rgb(74, 74, 74);
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
  
      }
      .materia{
        font-size: 22pt;
        font-family: sans-serif;
        margin: 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
      .prova{
        font-size: 22pt;
        font-family: sans-serif;
        margin: 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
      .a {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          grid-column: col / span 2;
          grid-row: row ;
      }
      .b {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          grid-column: col 3 / span 2 ;
          grid-row: row ;
      }
      .c {
        height: 80%;
        grid-column: col ;
        grid-row: row 2 ;
      }
      .d {
          background-color: white;
          grid-column: col 2 / span 3 ;
          grid-row: row 2 ;
      }
  
      .e {
          grid-column: col / span 4;
          grid-row: row 3;
      }